<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title }} &mdash; {{ page.title }}</title>
	<link rel="shortcut icon" href="http://freenode-feminism.github.io/favicon.ico" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>

      <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>

<!--        <a href="{{ site.repository_url }}" class="button fork"><strong>View On GitHub</strong></a> -->
        <div class="downloads">
			
          <ul>
            <li><a href="https://github.com/freenode-feminism" class="button">View on GitHub</a></li>
            <li><a href="/news/" class="button">News</a></li>
            <li><a href="/links/" class="button">Links</a></li>
          </ul>
        </div>
      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      {% if page.content_type && page.content_type != "html" %}
        <section class="content">
          {{ content }}
        </section>
      {% else %}
        {{content}}
      {% endif %}
      <footer>
		<p><a href="http://creativecommons.org/licenses/by-nc-sa/3.0"><img src="/images/commons.png"></img></a></p>
        <p><small>Modified version of theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
  </body>
</html>
